* {
    box-sizing: border-box;
}

@font-face {
    font-family: "Pixel";
    src: url("../../fonts/Pixel.ttf");
}

[wm-flappy] {
    position: relative;
    border: 5px solid dodgerblue;
    height: 750px;
    width: 1450px;
    margin: 15px;
    background-image: url(../../images/flappy.png);
    overflow: hidden;
}

.startButton {
    position: absolute;
    left: 650px;
    bottom: 50%;
    z-index: 10;

    width: 180px;
    height: 70px;

    color: #aff;
    background-color: dodgerblue;

    border: none;
    border-radius: 15px;
    
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 3px;
    font-family: Pixel;

}

.endScore {
    position: absolute;
    left: 715px;
    bottom: 65%;
    z-index: 10;

    font-size: 70px;
    font-weight: bold;
    letter-spacing: 3px;
    font-family: Pixel;
}

.scoreSpan {
    position: absolute;
    left: 675px;
    bottom: 75%;
    z-index: 10;

    color: greenyellow;

    font-size: 48px;
    font-weight: bold;
    letter-spacing: 3px;
    font-family: Pixel;
}

.bird {
    position: absolute;
    width: 60px;
    left: calc(50% - 30px);
}

.coupleOfBarriers {
    position: absolute;
    top: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.barrier {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.barrier .barrierBorder {
    height: 30px;
    width: 130px;
    background: linear-gradient(90deg, #639301, #A5E82E);
    border: 2px solid #000;
}

.barrier .barrierBody {
    height: 150px;
    width: 110px;
    background: linear-gradient(90deg, #639301, #A5E82E);
    border-left: 2px solid #000;
    border-right: 2px solid #000;

}

.progress {
    position: absolute;
    top: 10px;
    right: 10px;
    font-family: Pixel;
    font-size: 70px;
    z-index: 10;
}